# build output
dist/
.astro/

# dependencies
node_modules/

# wrangler / cloudflare
.wrangler/
.dev.vars

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db
